*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F8FAFC;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav{
    display: flex;
    gap: 20px;
    margin-left: 50px;
}

nav a{ 
    text-decoration: none;
    color: #64748B;
}

.auth-buttons{
    display: flex;
    gap: 10px;
    margin-right: 50px;
}

.auth-buttons a{
    text-decoration: none;
    padding: 8px 16px;
    font-weight: 500;
}

.btn-acct{
    background-color: #590cad;
    color: white;
    
}

.hero{
    padding: 60px 20px;
    margin-left: 50px;
}

.hero h1{
    font-size: 48px;
    color: #1A1A1A;
}

.highlight{
    color: #0988d1;
}

.hero p{
    font-size: 16px;
    color: #64748B;
    margin-top: 20px;
}

.search-box{
    margin-top: 30px;
    display: flex;
    gap: 10px;
    border: #E2E8F0 solid 1px;
    padding: 20px;
}

.search-box i{
    color: #64748B;
    font-size: 16px;
    margin-top: 10px;
}

.search-box input, .search-box select{
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #E2E8F0 solid 2px;
    font-size: 12px;
}

button{
    background-color: #590cad;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
}